body {
 text-align:center;
 padding:5px;
 color:#c61aff;
 background-image: url("https://i.gifer.com/DzBi.gif");
  background-repeat: no-repeat;
   background-size: cover;  
}
.btn1 {
 margin:30px;   
}
.btn1 {
 margin:30px;   
}
.btn2 {
 margin:30px;   
}
.btn3 {
 margin:30px;   
}
.rate1 {
 margin:30px;   
}
input {
 border:10px;   
}